---
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
// import { SITE } from '@consts'
---

<header>
	<Container>
		<div class="flex flex-wrap items-center justify-between gap-y-2">
			<Link href="/" underline={false}>
				<div class="font-hand text-3xl font-semibold">bruceyu</div>
			</Link>
			<nav class="flex items-center gap-1">
				<Link href="/blog"> blog </Link>
				<span>{`/`}</span>
				<Link href="/projects"> projects </Link>
				<!-- <span>{`/`}</span>
				<Link href="/thoughts"> thoughts </Link> -->
			</nav>
		</div>
	</Container>
</header>
