---
import { Icon } from 'astro-icon/components'
---

<button
	title="Toggle theme"
	id="theme-toggle"
	class="relative h-7 w-7 rounded-lg bg-zinc-100 ring-zinc-400 hover:ring-2 dark:bg-zinc-800"
	aria-label="Toggle theme"
>
	<Icon
		name="carbon:sun"
		class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 scale-100 opacity-100 transition dark:scale-0 dark:opacity-0"
	/>
	<Icon
		name={'carbon:moon'}
		class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition dark:scale-100 dark:opacity-100"
	/>
</button>
